<?xml version="1.0" encoding="UTF-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <link type="text/html" rel="alternate" href="https://github.com/egladman/rssquash"/>
  <link type="application/atom+xml" rel="self" href="http://egladman.github.io/rssquash/feed.atom"/>
  <title>rssquash</title>
  <updated>{{ getCurrentTime }}</updated>

  {{ range .}}
  <entry>
        <title>{{ .Title }}</title>
        <description>{{ .Description }}</description>
        <content>{{ .Content }}</content>
        <link>{{ .Link }}</link>
        <id>{{ .GUID }}</id>
  </entry>
  {{ end }}
</feed>
